@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
@import "./node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* ---- Other styles for login and register forms ---- */

.main-block {
  background-color: 	rgba(161, 110, 255, 0.28);
  border-radius: 2%;
}

.fr {
  display: block;
  float: right;
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}

#forgot {
  min-width: 100px;
  margin-left: auto;
  margin-top: auto;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.app-container {
  min-height: 320px;
}

.admin-nav {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e8e9ea;
  border-bottom: 1px solid #ccc;
}

.btn-delete-account {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

@media (max-width: 360px) {
  #forgot {
    margin-left: 0;
    padding-top: 10px;
  }
  body {
    height: 100%;
  }
  .container {
    margin: 30px 0;
  }
  .bordert:after {
    left: 25%;
  }
}

