<h1>Change password</h1>
<form [formGroup]="form" (ngSubmit)="onChangeUserPassword()">
  <h3 class="pt-3">Change Password</h3>
  <div class="row">
    <div class="mb-3 col-4">
      <label class="form-label">Old Password</label>
      <input
        type="password"
        formControlName="oldPassword"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }"
      />
      <div
        *ngIf="submitted && f['oldPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['oldPassword'].errors['required']">
          Password is required
        </div>
        <div *ngIf="f['oldPassword'].errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-4">
        <label class="form-label">New Password</label>
        <input
          type="password"
          formControlName="newPassword"
          nbInput
          fullWidth
          [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }"
        />
        <div
          *ngIf="submitted && f['newPassword'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['newPassword'].errors['required']">
            Password is required
          </div>
          <div *ngIf="f['newPassword'].errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-4">
      <label class="form-label">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmNewPassword"
        nbInput
        fullWidth
        [ngClass]="{
          'is-invalid': submitted && f['confirmNewPassword'].errors
        }"
      />
      <div
        *ngIf="submitted && f['confirmNewPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['confirmNewPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmNewPassword'].errors['passwordMatch']">
          Passwords must match
        </div>
      </div>
    </div>

    <div class="mb-3">
      <button
        type="submit"
        [disabled]="submitting"
        class="m-2"
        nbButton
        status="info"
      >
        <span
          *ngIf="submitting"
          class="spinner-border spinner-border-sm me-1"
        ></span>
        <nb-icon icon="lock-outline" status="basic"></nb-icon> Change password
      </button>
    </div>
  </div>
</form>
