<h1>Update Profile</h1>
<form [formGroup]="form" (ngSubmit)="onUpdateUser()">
  <div class="row">
    <div class="mb-3 col-5">
      <label class="form-label">First Name</label>
      <input
        type="text"
        formControlName="firstName"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
      />
      <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
        <div *ngIf="f['firstName'].errors['required']">
          First Name is required
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-5">
      <label class="form-label">Last Name</label>
      <input
        type="text"
        formControlName="lastName"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
      />
      <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
        <div *ngIf="f['lastName'].errors['required']">
          Last Name is required
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-5">
      <label class="form-label">Username</label>
      <input
        type="text"
        formControlName="username"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button
      type="submit"
      [disabled]="submitting"
      class="m-2"
      nbButton
      status="success"
    >
      <span
        *ngIf="submitting"
        class="spinner-border spinner-border-sm me-1"
      ></span>
      <nb-icon icon="edit-outline" status="basic"></nb-icon> Update
    </button>
    <a routerLink="../" href="" class="m-2" nbButton status="warning"
      ><nb-icon icon="arrow-circle-left-outline" status="basic"></nb-icon>
      Cancel</a
    >
  </div>
</form>

<!-- <form>
  <h3 class="pt-3">Change Email</h3>
  <p>Leave blank to keep the same email</p>
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Email</label>
      <input
        type="text"
        formControlName="email"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">New Email</label>
      <input
        type="text"
        formControlName="confirmEmail"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['confirmEmail'].errors }"
      />
      <div
        *ngIf="submitted && f['confirmEmail'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['confirmEmail'].errors['confirmEmail']">
          Email must be a valid email address
        </div>
        <div *ngIf="f['confirmEmail'].errors['required']">
          Confirm Email is required
        </div>
        <div *ngIf="f['confirmEmail'].errors['passwordMatch']">
          Emails must match
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button
      type="submit"
      [disabled]="submitting"
      class="m-2"
      nbButton
      status="info"
    >
      <span
        *ngIf="submitting"
        class="spinner-border spinner-border-sm me-1"
      ></span>
      <nb-icon icon="at-outline" status="basic"></nb-icon> Change email
    </button>
  </div>
</form>

<form>
  <div class="row">
    <div class="mb-3 col">
      <label class="form-label">Password</label>
      <input
        type="password"
        formControlName="password"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
      />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="mb-3 col">
      <label class="form-label">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
      />
      <div
        *ngIf="submitted && f['confirmPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmPassword'].errors['passwordMatch']">
          Passwords must match
        </div>
      </div>
    </div>

    <div class="mb-3">
      <button
        type="submit"
        [disabled]="submitting"
        class="m-2"
        nbButton
        status="info"
      >
        <span
          *ngIf="submitting"
          class="spinner-border spinner-border-sm me-1"
        ></span>
        <nb-icon icon="lock-outline" status="basic"></nb-icon> Change password
      </button>
    </div>
  </div>
</form> -->
