<h1>Update Profile</h1>
<form [formGroup]="form" (ngSubmit)="onUpdateUser()">
  <div class="row">
    <div class="mb-3 col-5">
      <label class="form-label">First Name</label>
      <input
        type="text"
        formControlName="firstName"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
      />
      <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
        <div *ngIf="f['firstName'].errors['required']">
          First Name is required
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-5">
      <label class="form-label">Last Name</label>
      <input
        type="text"
        formControlName="lastName"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
      />
      <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
        <div *ngIf="f['lastName'].errors['required']">
          Last Name is required
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-5">
      <label class="form-label">Username</label>
      <input
        type="text"
        formControlName="username"
        nbInput
        fullWidth
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <button
      type="submit"
      [disabled]="submitting"
      class="m-2"
      nbButton
      status="success"
    >
      <span
        *ngIf="submitting"
        class="spinner-border spinner-border-sm me-1"
      ></span>
      <nb-icon icon="edit-outline" status="basic"></nb-icon> Update
    </button>
    <a routerLink="../" href="" class="m-2" nbButton status="warning"
      ><nb-icon icon="arrow-circle-left-outline" status="basic"></nb-icon>
      Cancel</a
    >
  </div>
</form>

<div class="col-4 mb-3">
  <button
    type="submit"
    [disabled]="submitting"
    class="m-2"
    nbButton
    fullWidth
    size="large"
    status="info"
    (click)="onChangeEmail()"
  >
    <span
      *ngIf="submitting"
      class="spinner-border spinner-border-sm me-1"
    ></span>
    <nb-icon icon="at-outline" status="basic"></nb-icon> Change email
  </button>
</div>
