<h3>Forgot Password</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="mb-3 col-4">
      <label class="form-label me-3">Email </label>
      <input
        type="text"
        formControlName="email"
        nbInput
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <button [disabled]="loading" nbButton status="info" class="m-2">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm me-1"
      ></span>
      Submit
    </button>
    <a routerLink="../login" nbButton status="warning" class="m-2">Cancel</a>
  </div>
</form>
