<h3 class="card-header">Reset Password</h3>
<div class="card-body">
  <div *ngIf="tokenStatus == TokenStatus.Validating">Validating token...</div>
  <div *ngIf="tokenStatus == TokenStatus.Invalid">
    <p>
      Token validation failed, try again by clicking on link sent to your email.
    </p>
    <p>
      If the token has expired you can get a new one at the
      <a routerLink="../forgot-password">forgot password</a> page.
    </p>
  </div>
  <form
    *ngIf="tokenStatus == TokenStatus.Valid"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="mb-3">
        <label class="form-label me-1">Password</label>
        <input
          type="password"
          formControlName="password"
          nbInput
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">
            Password is required
          </div>
          <div *ngIf="f['password'].errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label me-1">Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          nbInput
          [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
        />
        <div
          *ngIf="submitted && f['confirmPassword'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['confirmPassword'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['confirmPassword'].errors['passwordMatch']">
            Passwords must match
          </div>
        </div>
      </div>
      <div class="mb-3">
        <button class="me-3" [disabled]="loading" nbButton status="info">
          Reset Password
        </button>
        <a routerLink="../login" nbButton status="warning">Cancel</a>
      </div>
    </div>
  </form>
</div>
