<div class="outer">
  <div class="container">
    <div
      class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3 main-block"
    >
      <div class="panel-heading">
        <h3 class="pt-3 font-weight-bold">Login</h3>
      </div>
      <div class="panel-body p-2">
        <form [formGroup]="loginForm">
          <div class="form-group pt-3">
            <div
              class="input-field"
              [class.error]="
                loginForm.controls['username'].dirty &&
                loginForm.hasError('required', 'username')
              "
            >
              <input
                formControlName="username"
                type="text"
                placeholder="Username"
                required
                nbInput
                fullWidth
              />
            </div>
          </div>
          <small
            *ngIf="
              loginForm.controls['username'].dirty &&
              loginForm.hasError('required', 'username')
            "
            class="text-danger"
            >*Username is required</small
          >
          <div class="form-group pt-3">
            <div
              class="input-field"
              [class.error]="
                loginForm.controls['password'].dirty &&
                loginForm.hasError('required', 'password')
              "
            >
              <input
                formControlName="password"
                type="password"
                placeholder="Password"
                required
                nbInput
                fullWidth
              />
            </div>
          </div>
          <small
            *ngIf="
              loginForm.controls['password'].dirty &&
              loginForm.hasError('required', 'password')
            "
            class="text-danger"
            >*Password is required</small
          >
          <div class="form-inline fr mt-4">
            <a
              id="forgot"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="forgot-password caption-2"
              >Forgot password?</a
            >
          </div>
          <button
            nbButton
            fullWidth
            status="primary"
            size="large"
            [disabled]="loginForm.invalid"
            (click)="onSubmit()"
            type="submit"
          >
            Login
          </button>
          <div class="text-center pt-3">
            Don't have an account?
            <a
              nbButton
              id="forgot"
              status="info"
              size="small"
              routerLink="/register"
              >Register</a
            >
          </div>
        </form>
      </div>
      <section>
        <div class="text-center">or enter with:</div>
        <div class="mx-3 my-2 py-2 bordert">
          <div class="text-center">
            <a href="https://www.google.com" target="_blank" class="px-2">
              <nb-icon icon="google" status="basic"></nb-icon>
            </a>
            <a href="https://www.microsoft.com" target="_blank" class="px-2">
              <nb-icon icon="linkedin" status="basic"></nb-icon>
            </a>
            <a href="https://wwww.facebook.com" target="_blank" class="px-2">
              <nb-icon icon="facebook" status="basic"></nb-icon>
            </a>
            <a href="https://www.github.com" target="_blank" class="px-2">
              <nb-icon icon="twitter" status="basic"></nb-icon>
            </a>
            <a href="https://www.github.com" target="_blank" class="px-2">
              <nb-icon icon="github" status="basic"></nb-icon>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
